.header {
    padding-top: clamp(10px,3vw,24px);
    padding-bottom: clamp(10px,3vw,24px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    &_logo{
        width: clamp(50px,10vw,68px);
        height: clamp(34px,10vw,52px);
    }
    &__nav_menu {
        display: flex;
        gap: clamp(13px,3vw,24px);

        >a {
            font-size: clamp(12px,3vw,16px);
            font-weight: 400;
            transition: 0.5s;
            position: relative;

            &:hover {
                transition: 0.5s;

                &::before {
                    position: absolute;
                    content: '';
                    bottom: -5px;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background: #E32652;
                }

            }

            &.active {
                color: #E32652;
            }
        }
    }

    &__nav_li {
        list-style-type: none;
    }

    &__btn {
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        cursor: pointer;
        border: none;
        padding: 12px 22px;
        border-radius: 15px;

        border: 2px solid #E32652;
        background: #E32652;
        transition: 0.5s;

        &:hover {
            background: none;
            color: #E32652;
            border: 2px solid #E32652;
        }
    }
}



@media (max-width:774px) {

    .header {
        
        &__btn {
            display: none;
        }
    }

}